@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,400;0,700;0,900;1,400&family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Source+Sans+Pro:ital,wght@0,400;0,700;0,900;1,400&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: #f2f2f2;
  font-family: "Fraunces", serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
}
img {
  vertical-align: auto;
  object-fit: cover;
}
.container {
  width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}
.box_container {
  width: 1111px;
  padding: 0 20px;
  margin: 0 auto;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}
.navbar_link {
  padding-left: 33px;
  text-decoration: none;
  color: #83888f;
}
/* Main */

.hero_img {
  margin-bottom: 100px;
  background-image: url("../img/Bitmap.png");
  background-repeat: no-repeat;
  border-radius: 10px;
  margin-top: 45px;
  width: 100%;
}
.hero_title {
  width: 493px;
  padding-top: 87px;
  margin-left: 85px;
  margin-bottom: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fefcf7;
}
.hero_text {
  width: 445px;
  padding-top: 32px;
  margin-bottom: 0;
  margin-left: 85px;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  opacity: 0.8;
}
.hero_button {
  margin-top: 56px;
  margin-left: 85px;
  margin-bottom: 80px;
}
.btn {
  padding: 16px 31px;
  background-color: #0e8784;
  border-radius: 6px;
  border: none;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #fefcf7;
  transition: background-color 0.2s ease;
}
.btn:hover {
  background-color: #66d2cf;
  border-radius: 6px;
}
.btn:active {
  background-color: #e2dedb;
}
.our_collect {
  width: 100%;
  /* position: relative; */
  opacity: 0.3;
}
.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card_inside {
  position: relative;
  top: -60px;
  width: 255px;
}
.card_image {
  width: 255px;
}
.card_title {
  padding-top: 71px;
  padding-bottom: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333d4b;
}
.card_text {
  padding-top: 24px;
  padding-bottom: 0;
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #333d4b;
}
/* Center */
.center .container {
  background-image: url("../img/center.png");
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
}
.center_title {
  padding-top: 350px;
  /* margin: 0 auto; */
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #fefcf7;
}
.center_text {
  width: 570px;
  margin-top: 32px;
  padding-bottom: 86px;
  margin: 0 auto;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #fefcf7;
  opacity: 0.7;
}
.center_card .box_container {
  /* position: absolute;
  top: 300px; */
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.center_card_box {
  width: 340px;
  background: #0e8784;
  border-radius: 8px;
  text-align: center;
}
.center {
  margin: 0 30px;
}
.center_card_img {
  width: 72px;
  padding-top: 72px;
  padding-bottom: 0;
}
.center_card_title {
  padding-top: 56px;
  padding-bottom: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #fefcf7;
}
.center_card_text {
  width: 255px;
  margin: 0 auto;
  padding-top: 48px;
  padding-bottom: 48px;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #fefcf7;
}
/* steps */
.step__title {
  margin-top: 200px;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
  margin-left: 45px;
}
.steps {
  position: relative;
  display: flex;
  margin-top: 80px;
  list-style-type: none;
}
.steps::before {
  display: block;
  position: absolute;
  top: 15.5px;
  background: #fdd6ba;
  width: 763px;
  height: 1px;
  content: "";
  /* z-index: 1; */
}
.step {
  width: 285px;
  padding-top: 100px;
}
.step::before {
  position: absolute;
  top: 0;
  display: inline-block;
  width: 27px;
  height: 27px;
  background: #fefcf7;
  border: 2px solid #0e8784;
  border-radius: 50%;
  content: "";
}
.step + .step {
  margin-left: 95px;
}
.step__heading {
  display: flex;
  flex-direction: column;
  margin-bottom: 42px;
}
.step__heading__count {
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fdd6ba;
  margin-bottom: 38px;
}
.step__heading__text {
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333d4b;
}
.step__btn{
  margin-top: 65px;
  margin-left: 45px;
}

/* footer */
.footer .container {
  background-color: #2c343e;
}
.footer_flex {
  margin-top: 200px;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_logo {
  margin-left: 103px;
  padding: 47px 0;
}
.footer_icons {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-right: 49px;
}
.footer_link {
  text-decoration: none;
  padding: 0 24px;
}
/* About Us */
.hero_about .container {
  width: 1280px;
  height: 450px;
  background-image: url("../img/about.png");
  background-position: center;
  background-repeat: no-repeat;
}
.hero_about_title {
  padding-top: 137px;
  padding-bottom: 0;
}
.hero_about_text {
  padding-top: 24px;
}
.commitment .box_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.commitmen-img {
  margin-top: 168px;
  margin-right: 125px;
}
.commitment_title {
  margin-top: 258px;
  margin-bottom: 28px;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #333d4b;
}
.commitment_text {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
  opacity: 0.8;
}
/* Quality */
.quality .container {
  position: relative;
  margin-top: 158px;
  background-color: #2c343e;
}
.quality-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.quality-title {
  width: 517px;
  margin-left: 85px;
  margin-top: 100px;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #fefcf7;
}
.quality-text {
  width: 540px;
  margin-top: 32px;
  margin-left: 85px;
  margin-bottom: 150px;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.quality-img {
  position: absolute;
  bottom: 70px;
  right: 100px;
  border-radius: 8px;
}
.headquartes-title {
  margin-top: 168px;
  margin-bottom: 72px;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
}
.headquartes-flex {
  display: flex;
  align-items: center;
  justify-content: start;
}
.headquartes__center {
  margin: 0 120px;
}
.headquartes__list {
  list-style-type: none;
}
.headquartes_item a {
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
}
.headquartes_item a img {
  width: 48px;
}
.headquartes__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333d4b;
}
